.list-items{
    size: 20px
}
.stuff{
    display:flex;
    width: 15px;
    height:10ps;
    size: 8px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    padding: 5px;
   
}
.par-head{
   padding-right: 39px;
}
.holes-head{
    padding-right: 24px;
}